<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654220485267-ehphid37vp718d9p9bbrnnqsr6iugfav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654220485267-ehphid37vp718d9p9bbrnnqsr6iugfav</string>
	<key>API_KEY</key>
	<string>AIzaSyDmRFASB21bpjNsZwVHuxqaF_BOyvasa9U</string>
	<key>GCM_SENDER_ID</key>
	<string>654220485267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.everbly</string>
	<key>PROJECT_ID</key>
	<string>everbly</string>
	<key>STORAGE_BUCKET</key>
	<string>everbly.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654220485267:ios:07e1f798e81e4835eba366</string>
	<key>DATABASE_URL</key>
	<string>https://everbly.firebaseio.com</string>
</dict>
</plist>